body {
    background: url('/img/bowling-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.object {
    display: block;
    border-radius: 4px;
    height: 5px;
    position: absolute;
    left: 0;
    opacity: 0.3;

    &-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        overflow: hidden;

        &_primary {
            .object {
                background: $c-app-primary-light;
            }
        }

        &_secondary {
            .object {
                background: $c-app-secondary-light;
            }
        }
    }

    &_l {
        width: 150px;
    }

    &_m {
        width: 100px;
    }

    &_s {
        width: 50px;
    }

    &:nth-child(1) {
        top: 10%;
        left: 4%;
    }

    &:nth-child(2) {
        top: 12%;
        left: 10%;
    }

    &:nth-child(3) {
        top: 16%;
        left: 79%;
    }

    &:nth-child(4) {
        top: 18%;
        left: 86%;
    }

    &:nth-child(5) {
        top: 30%;
        left: 32%;
    }

    &:nth-child(6) {
        top: 50%;
        left: 74%;
    }

    &:nth-child(7) {
        top: 66%;
        left: 50%;
    }

    &:nth-child(8) {
        top: 70%;
        left: 41%;
    }

    &:nth-child(9) {
        top: 72%;
        left: 90%;
    }

    &:nth-child(10) {
        top: 85%;
        left: 12%;
    }

    &:nth-child(11) {
        top: 87%;
        left: 10%;
    }
}


﻿main.cover {
    background-color: transparent;
}
.bg {
    &-semi-transparent-gradient{

        &-primary {
            background: linear-gradient(
                    rgba($c-app-accent, 0.65),
                    rgba($c-app-primary, 0.65)
            )
        }

        &-secondary {
            background: linear-gradient(
                    rgba($c-app-accent, 0.65),
                    rgba($c-app-secondary, 0.65)
            )
        }

        &-accent {
            background: linear-gradient(
                    rgba($c-app-accent-light, 0.65),
                    rgba($c-app-accent-dark, 0.65)
            )
        }
    }
}
