.player-category {

    &-AA {
        color: white !important;
        background: #4a4d50 !important;
    }

    &-A {
        color: white !important;
        background: #116e7f !important;
    }

    &-B {
        color: white !important;
        background: #119bac !important;
    }

    &-C {
        color: white !important;
        background: #40c0b9 !important;
    }
}

.player-selection-handicap {
    background: #f7fff9 !important;
    color: black !important;
}
