div.loading-table {
    margin-left: 40%;
    padding-top: 10%;
    width: 20%;
    height: 20%;
    @include media-breakpoint-down(md) {
        margin-left: 25%;
    }
}

div.match-scoreboard-table-container {
    border-radius: 15px;
    border: 3px solid whitesmoke;
    /*background: linear-gradient(
            rgba($c-app-accent-light, 0.65),
            rgba($c-app-primary, 0.65)
    )*/
    background: linear-gradient(
            rgba($c-app-accent, 0.75),
            rgba($c-app-secondary, 0.75)
    )
}

div.match-scoreboards-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    //@include media-breakpoint-down(md) {
    //    flex-flow: column nowrap;
    //}
}

.match-scoreboard-table {
    width: 500px;
}

div.score-focus {
    border-color: $c-app-accent-light;
    border-radius: 5px;
    border-style: solid;
}

div.score-update-success {
    animation: success-fade 1.5s;
    -moz-animation: success-fade 1.5s;
    -webkit-animation:success-fade 1.5s;
}

div.score-update-error {
    animation: error-fade 1.5s;
    -moz-animation: error-fade 1.5s;
    -webkit-animation:error-fade 1.5s;
}

@-moz-keyframes success-fade {
    20% {background: rgba(lightgreen, 0.75);}
    50% {background: rgba(lightgreen, 0.75);}
}

@-webkit-keyframes success-fade {
    20% {background: rgba(lightgreen, 0.75);}
    50% {background: rgba(lightgreen, 0.75);}
}

@-moz-keyframes error-fade {
    20% {background: rgba(lightgreen, 0.75);}
    50% {background: rgba(lightgreen, 0.75);}
}

@-webkit-keyframes error-fade {
    20% {background: rgba(indianred, 0.75);}
    50% {background: rgba(indianred, 0.75);}
}
