%handicap-box {
    align-items: center;
    font-size: smaller;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: black;
    width: 2rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
}

.handicap-box {
    @extend %handicap-box;
    background: #d4ffd5;
}

.pending-handicap-box {
    @extend %handicap-box;
    background: #eeeca9;
}

.blind-handicap-box {
    @extend %handicap-box;
    background: #704525;
    color: white !important;
}

%player-name {
    white-space: nowrap !important;
    overflow: auto !important;
    cursor: default;
    color: white !important;
}

.player-category {

    &-AA {
        @extend %player-name;
        background: #4a4d50 !important;
    }

    &-A {
        @extend %player-name;
        background: #116e7f !important;
    }

    &-B {
        @extend %player-name;
        background: #119bac !important;
    }

    &-C {
        @extend %player-name;
        background: #40c0b9 !important;
    }

    &-blind {
        @extend %player-name;
        background: whitesmoke !important;
        color: black !important;
    }
}

div.player-selection-dialog-legend {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;

    span {
        white-space: nowrap;
        overflow: auto;
        width: 100%;
    }

    &-player-categories {
        margin: 0;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        span {
            width: 25%;
            margin: 0 auto;
        }
    }

}

%description {
    border-left: 8px solid lightgray;
    padding-left: 0.25rem;
}

.handicap-description {
    @extend %description;
    border-color: #91ff98;
}

.pending-handicap-description {
    @extend %description;
    border-color: #eeeca9;
}

.pending-handicap-description {
    @extend %description;
    border-color: #eeeca9;
}

.blind-handicap-description {
    @extend %description;
    border-color: #704525;
}
