
.match-scoreboards {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

div.loading-table {
    margin-left: 40%;
    padding-top: 10%;
    width: 20%;
    height: 20%;
    @include media-breakpoint-down(md) {
        margin-left: 25%;
    }
}

div.match-scoreboard-table-container {
    cursor: default;
    border-radius: 15px;
    border: 3px solid whitesmoke;
    background: linear-gradient(
            rgba($c-app-accent, 0.75),
            rgba($c-app-secondary, 0.75)
    )
}

.match-scoreboard-table {
    width: 500px;
}

div.score-editable {
    cursor: pointer;
}

div.score-focus {
    border-color: $c-app-accent-light;
    border-radius: 5px;
    border-style: solid;
}

div.score-patching {
    border-radius: 5px;
    border-style: solid;
    animation: score-patching-border 2s infinite;
    -moz-animation: score-patching-border 1s infinite;
    -webkit-animation:score-patching-border 1s infinite;
}

div.score-update-success {
    animation: success-fade 1.5s;
    -moz-animation: success-fade 1.5s;
    -webkit-animation:success-fade 1.5s;
}

div.score-update-error {
    animation: error-fade 1.5s;
    -moz-animation: error-fade 1.5s;
    -webkit-animation:error-fade 1.5s;
}

@-moz-keyframes score-patching-border {
    0% {border-color: rgba(yellow, 0.70);}
    30% {border-color: rgba(greenyellow, 0.60);}
    50% {border-color: rgba(lightgreen, 0.60);}
    70% {border-color: rgba(greenyellow, 0.60);}
    100% {border-color: rgba(yellow, 0.70);}
}

@-webkit-keyframes score-patching-border {
    0% {border-color: rgba(yellow, 0.70);}
    30% {border-color: rgba(greenyellow, 0.60);}
    50% {border-color: rgba(lightgreen, 0.60);}
    70% {border-color: rgba(greenyellow, 0.60);}
    100% {border-color: rgba(yellow, 0.70);}
}

@-moz-keyframes success-fade {
    20% {background: rgba(lightgreen, 0.75);}
    50% {background: rgba(lightgreen, 0.75);}
}

@-webkit-keyframes success-fade {
    20% {background: rgba(lightgreen, 0.75);}
    50% {background: rgba(lightgreen, 0.75);}
}

@-moz-keyframes error-fade {
    20% {background: rgba(indianred, 0.75);}
    50% {background: rgba(indianred, 0.75);}
}

@-webkit-keyframes error-fade {
    20% {background: rgba(indianred, 0.75);}
    50% {background: rgba(indianred, 0.75);}
}
