
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #0099D3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    background: url('/img/bowling-login.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.auth-box {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
